<!DOCTYPE html>
<html>
<head>
	<title>KGP Central &middot; A first of it's kind Buy-n-Sell portal</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to 'KGP Central', root_path, class: 'navbar-brand' %>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
					<li><%= link_to 'Edit account', edit_user_registration_path %></li>
					<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
					<% else %>
					<li><%= link_to 'Sign in', new_user_session_path %></li>
					<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
			
					<li><%= link_to 'Sign up', new_user_registration_path %></li>
					<% end %>
					<% if user_signed_in? %>
					<li><a href="#">Logged in as <%= current_user.name %></a></li>
					<li><%= link_to 'Users', users_index_path %></li>
					<% end %>

				</ul>
			</div>
		</div>
	</nav>

	<% if notice %>
		<br>
		<p class="alert alert-success"><%= notice %></p>
	<% else %>
	<% if alert %>
		<br>	
		<p class="alert alert-danger"><%= alert %></p>
	<% else %>
		<br>
	<% end %>
	<% end %>

	<%= yield %>

</body>
</html>
